<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel=stylesheet href="/main.css">
        <title>View <%- student.Stu_FName %> <%- student.Stu_LName %></title>
    </head>

    <body>
        <%- include('common/header'); %>
        <div class='content'>
            <h1><%- student.Stu_FName %> <%- student.Stu_LName %></h1>
            <section class='dataSet'>
                <table class='data'>
                    <thead>
                        <tr>
                            <th>URN</th>
                            <th>DOB</th>
                            <th>Phone Number</th>
                            <th>Course</th>
                            <th>Email</th>
                            <th>Type</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><%- student.URN %></td>
                            <td><%- student.Stu_DOB %></td>
                            <td><%- student.Stu_Phone %></td>
                            <td><%- student.Crs_Title %></td>
                            <td><%- student.Stu_Email %></td>
                            <td><%- student.Stu_Type %></td>
                            <td>
                                <div class='actions'>
                                    <a href='/students/<%- student.URN %>/edit'>Edit</a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </section>
        </div>
    </body>
</html>